#navigation
{
    background:url("https://raw.githubusercontent.com/suryanarayanan035/alpha/master/img/wolf.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
}
#gitbutton
{
    display: flexbox;
    vertical-align: top;
}
@media screen and (max-width:678px)
{
    #navigation
    {
        min-height:300px;
    }
}
